<% if @response -%>
  <% if @response.has_key?(:error) -%>
    <div class="alert-error alert">
      <%= @response[:error] %>
    </div>
  <% end -%>
  <% if @response.has_key?(:notice) -%>
    <div class="alert-success alert">
      <%= @response[:notice] %>
    </div>
  <% end -%>
<% end -%>

<h1>Import <%= @abstract_model.to_param.titleize %></h1>

<%= form_tag rails_admin.import_url(@abstract_model.to_param), :method => :post, :multipart => true do %>
  <div>
    Select a CSV File :
      <%= file_field_tag :file %>
      <%= submit_tag 'Submit', :disable_with => "Uploading..." %>
    <% end %>
  </div>
  <% if @failed_rows && @failed_rows.count > 0 %>
  <ul>
    <% @failed_rows.each do |row| %>
      <li><%= row %></li>
    <% end %>
  </ul>
<% end %>
